<ul class="nav flex-column pt-3">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'student_dashboard' %}">Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'edit_student_profile' %}">Edit Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'student_notifications' %}">Notifications</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'public_portfolio' request.user.studentprofile.registry.matric_number %}">Public Portfolio</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'add_project' %}">Add Project</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'add_research' %}">Add Research</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'add_internship' %}">Add Internship</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-danger" href="{% url 'logout' %}">Logout</a>
    </li>
</ul>
