{% extends "base_with_sidebar.html" %}
{% block title %}Internships{% endblock %}

{% block content %}
<div class="container m-4">
    <h3 class="mb-4" style="color: var(--primary-color);">My Internships</h3>
    <div class="row">
        {% for internship in internships %}
        <div class="col-md-6 mb-4">
            <div class="card shadow-sm h-100 border-0 rounded-3">
                <div class="card-body">
                    <h5 class="card-title">{{ internship.role }} at {{ internship.organization }}</h5>
                    <p class="card-text">{{ internship.summary|truncatewords:20 }}</p>
                    <a href="{% url 'internship_detail' internship.student.registry.matric_number internship.pk %}" class="btn btn-outline-primary btn-sm rounded-pill">View Details</a>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No internships available.</p>
        {% endfor %}
    </div>

    {% if internships.has_other_pages %}
    <nav aria-label="Internship pagination">
      <ul class="pagination justify-content-center">
        {% if internships.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ internships.previous_page_number }}">Previous</a>
          </li>
        {% endif %}

        {% for num in internships.paginator.page_range %}
          {% if internships.number == num %}
            <li class="page-item active"><span class="page-link">{{ num }}</span></li>
          {% elif num > internships.number|add:'-3' and num < internships.number|add:'3' %}
            <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
          {% endif %}
        {% endfor %}

        {% if internships.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ internships.next_page_number }}">Next</a>
          </li>
        {% endif %}
      </ul>
    </nav>
    {% endif %}
</div>
{% endblock %}
