{% extends "base_with_sidebar.html" %}
{% block title %}Projects{% endblock %}

{% block content %}
<div class="container m-4">
    <h3 class="mb-4" style="color: var(--primary-color);">My Projects</h3>
    <div class="row">
        {% for project in projects %}
        <div class="col-md-6 mb-4">
            <div class="card shadow-sm h-100 border-0 rounded-3">
                <div class="card-body">
                    <h5 class="card-title">{{ project.title }}</h5>
                    <p class="card-text">{{ project.description|truncatewords:20 }}</p>
                    <a href="{% url 'project_detail' project.student.registry.matric_number project.pk %}" class="btn btn-outline-primary btn-sm rounded-pill">View Details</a>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No projects available.</p>
        {% endfor %}
    </div>

    {% if projects.has_other_pages %}
    <nav aria-label="Project pagination">
      <ul class="pagination justify-content-center">
        {% if projects.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ projects.previous_page_number }}">Previous</a>
          </li>
        {% endif %}

        {% for num in projects.paginator.page_range %}
          {% if projects.number == num %}
            <li class="page-item active"><span class="page-link">{{ num }}</span></li>
          {% elif num > projects.number|add:'-3' and num < projects.number|add:'3' %}
            <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
          {% endif %}
        {% endfor %}

        {% if projects.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ projects.next_page_number }}">Next</a>
          </li>
        {% endif %}
      </ul>
    </nav>
    {% endif %}
</div>
{% endblock %}
